[defaults]
action_warnings = false
callbacks_enabled = profile_tasks
show_custom_stats = true
#inject_facts_as_vars = no
deprecation_warnings = false
forks = 10
gathering = explicit
roles_path = ./roles/
# collections_path removed - collections pre-installed in EE image

[privilege_escalation]
become = false
become_method = sudo
become_user = root

[persistent_connection]
command_timeout = 30

[galaxy]
server_list = automation_hub, release_galaxy

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token={{ lookup('ansible.builtin.env', 'ANSIBLE_GALAXY_TOKEN') }}

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/
token=
